<!-- components/cart/cart.component.html -->
<div class="cart">
    <mat-list>
      <mat-list-item *ngFor="let item of cartItems$ | async">
        <img matListAvatar [src]="item.product.image" alt="{{item.product.name}}">
        <h3 matLine>{{item.product.name}}</h3>
        <p matLine>Quantity: {{item.quantity}}</p>
        <button mat-button color="warn" (click)="removeFromCart(item)"><mat-icon>delete</mat-icon></button>
      </mat-list-item>
    </mat-list>
    <ng-container *ngIf="(cartItems$ | async) as items">
      <ng-container *ngIf="items.length > 0 else emptyCart">
        <p class="total">Total: {{total$ | async | currency}}</p>
        <div class="cart-summary">
        <button mat-raised-button class="checkout-btn" (click)="checkout()">Checkout</button>
        <button mat-raised-button color="warn" (click)="clearCart()">Clear Cart</button>
      </div>
      </ng-container>
      <ng-template #emptyCart><span class="empty">Your cart is still empty</span> </ng-template>
    </ng-container>  
  </div>
  