.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .product-item {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
  }
  
  .product-image {
    height: 200px;
    object-fit: cover;
  }
  
  .title {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
  }
  
  .product-content {
    flex-grow: 1;
    padding: 0 16px;
  }
  
  .product-actions {
    display: flex;
    justify-content: center;
  }
  
  .add-button {
    width: 100%;
    max-width: 200px;
    background-color: rgb(232, 132, 101);
  }
  