<div class="container">
  <mat-toolbar class="title" color="primary">Checkout</mat-toolbar>
  <mat-card class="card">
    <ng-container *ngIf="!(checkoutError$  | async) ; else ErrorTmp">
      <p class="message">Thank you for your purchase, Total Amount: {{ totalAmount$ | async  }}</p>
      <div class="items-wrapper">
        <div *ngFor="let item of items$ |async">{{item.name}} x {{item.quantity}} : {{item.total_price}}</div>
      </div>
       
    </ng-container>
    <div class="button-wrapper">
      <button mat-raised-button color="primary" (click)="back()" class="button">Back</button>
    </div>
   
    <ng-template #ErrorTmp>
      <p class="message error">{{ checkoutError$  | async }}</p>
    </ng-template>
  </mat-card>
 
</div>
